# === Python Faltu/Cache Files ===
__pycache__/
*.py[cod]
*$py.class

# === Jupyter Notebook Temporary Files ===
.ipynb_checkpoints
*/.ipynb_checkpoints/
%notebook_profile%

# === OS Temporary Files ===
Thumbs.db
desktop.ini
.DS_Store

# === Virtual Environments ===
.venv/
venv/
env/
ENV/

# === Secret Keys & Passwords ===
.env
*.local